<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DriverDBEntities" connectionString="metadata=res://*/DriverDBModel.csdl|res://*/DriverDBModel.ssdl|res://*/DriverDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ec2-54-227-94-194.compute-1.amazonaws.com,1433;initial catalog=DriverPipelineDB;user id=admin;password=super_secure_db_password;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DriverIncentiveProgram_Group7.Properties.Settings.DriverPipelineDBConnectionString"
      connectionString="Data Source=ec2-54-227-94-194.compute-1.amazonaws.com;Initial Catalog=DriverPipelineDB;Persist Security Info=True;User ID=admin;Password=super_secure_db_password"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>